{% extends "index_base.html" %}
{% block title1 %}<a  aria-hidden="true" href="{{url_for('plagaslist')}}" role="button"> GESTIONAR PLAGAS</a>>>HOSPEDANTES{% endblock %}
{% block content %}
<section class="section" id="hospedantes_list">
    <div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card card-body">

        <form id="fmhosp" action="{{url_for('hospedantes_new')}}" method="post" novalidate>
                    {{ form.hidden_tag() }}


                                    <div class="form-group">
                                        {{form.nombre.label() }}{{form.nombre(class="form-control")}}
                                        {% for error in form.nombre.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>


                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary btn-block">
                                        Aceptar
                                    </button>

                                    <!--            {{ form.submit() }}-->
                                </div>



                </form>
    </div>
        </div>
    <div class="col-md-8">

    <div class="list-group">
      <table id="example" class="datatable table table-hover display">
          <thead>
          <tr>
            <th>Listar Hospedantes</th>
              <th></th>
          </tr>
          </thead>
           <tbody>

      {% for pl in hospedante %}
        <tr>
            <td>{{pl.nombre}}</td>

            <td align="right">
<!--                <a href="{{url_for('hospedantes_edit',id=pl.id)}}" class="btn btn-primary"><i class="fa fa-edit" title="Editar"></i></a>-->
                <a href="hospedantes_list/delete/{{pl.id}}" class="btn btn-primary"><i class="fa fa-trash"></i></a>
            </td>

         </tr>
      {% endfor %}
           </tbody>
      </table>
    </div>
  </div>

        </div>
    </div>
    </div>

</section>
{% endblock %}
